<% var title = 'Préstamo' %>
<% include header %>
    <h1>Préstamo</h1>
    <div class='row actions'>
        <a href="/admin/loan" class="btn btn-info">Préstamos</a>
    </div>
    <div class='row'>
        <table class='table view-data'>
            <tr>
                <td>Código</td>
                <td><%= loan.code %></td>
            </tr>
            <tr>
                <td>Usuario</td>
                <td><a href="/admin/user/<%= loan.user %>"><%= loan.userDescription %></a></td>
            </tr>
            <tr>
                <td>Monto</td>
                <td><%= loan.amount.toFixed(2) %></td>
            </tr>
            <tr>
                <td>Moneda</td>
                <td><%= loan.currency %></td>
            </tr>
            <tr>
                <td>Cantidad de Cuotas</td>
                <td><%= loan.periods %></td>
            </tr>
            <tr>
                <td>Tasa Mensual</td>
                <td><%= loan.monthlyRate.toFixed(2) %></td>
            </tr>
            <tr>
                <td>Fecha/Hora Creación</td>
                <td><%= loan.created %></td>
            </tr>
            <tr>
                <td>Estado</td>
                <td><%= loan.statusDescription %></td>
            </tr>
        </table>
    </div>

<% if (status && status.payments) { %>
    <h2>Cuotas</h2>
    <div class='row'>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Fecha</th>
                    <th style='text-align: right'>Capital</th>
                    <th style='text-align: right'>Interés</th>
                    <th style='text-align: right'>Total</th>
                    <th style='text-align: right'>Capital Cancelado</th>
                </tr>
            </thead>
            <tbody>
<% status.payments.forEach(function (payment) { %>
                <tr>
                    <td><%= payment.order %></td>
                    <td><%= payment.date %></td>
                    <td style='text-align: right'><%= payment.capital.toFixed(2) %></td>
                    <td style='text-align: right'><%= payment.interest.toFixed(2) %></td>
                    <td style='text-align: right'><%= (payment.capital + payment.interest).toFixed(2) %></td>
                    <td style='text-align: right'><%= payment.canceled.toFixed(2) %></td>
                </tr>
<% }); %>
                <tr>
                    <td colspan=2>Totales</td>
                    <td style='text-align: right'><%= status.totals.capital.toFixed(2) %></td>
                    <td style='text-align: right'><%= status.totals.interest.toFixed(2) %></td>
                    <td style='text-align: right'><%= (status.totals.capital + status.totals.interest).toFixed(2) %></td>
                    <td style='text-align: right'><%= status.totals.canceled.toFixed(2) %></td>
                </tr>
           </tbody>
        </table>
    </div>
<% } %>
<% if (notes && notes.length) { %>
    <h2>Inversiones</h2>
    <div class='row'>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Fecha/Hora</th>
                    <th style='text-align: right'>Monto</th>
                    <th>Inversor</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
<% notes.forEach(function (note) { %>
                <tr>
                    <td><%= note.datetime %></td>
                    <td style='text-align: right'><%= note.amount.toFixed(2) %></td>
                    <td><a href="/admin/user/<%= note.user %>"><%= note.userDescription %></a></td>
                    <td><%= note.statusDescription %></a></td>
                </tr>
<% }); %>
                <tr>
                    <td>Total</td>
                    <td style='text-align: right'><%= totalNotes.toFixed(2) %></td>
                    <td></td>
                </tr>
           </tbody>
        </table>
    </div>
<% } %>

<% if (status && status.movements && status.movements.length) { %>
    <h2>Pagos</h2>
    <div class='row'>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Fecha/Hora</th>
                    <th style='text-align: right'>Monto</th>
                    <th style='text-align: right'>Capital</th>
                    <th style='text-align: right'>Interés</th>
                </tr>
            </thead>
            <tbody>
<% status.movements.forEach(function (movement) { %>
                <tr>
                    <td><%= movement.datetime %></td>
                    <td style='text-align: right'><%= movement.debit.toFixed(2) %></td>
                    <td style='text-align: right'><%= movement.capital.toFixed(2) %></td>
                    <td style='text-align: right'><%= movement.interest.toFixed(2) %></td>
                </tr>
<% }); %>
                <tr>
                    <td>Totales</td>
                    <td style='text-align: right'><%= status.movtotals.debit.toFixed(2) %></td>
                    <td style='text-align: right'><%= status.movtotals.capital.toFixed(2) %></td>
                    <td style='text-align: right'><%= status.movtotals.interest.toFixed(2) %></td>
                </tr>
           </tbody>
        </table>
    </div>
<% } %>

<% include footer %>
