<% var title = 'Préstamo' %>
<% include header %>
    <h1>Préstamo</h1>
    <div class='row actions'>
        <a href="/admin/loan" class="btn btn-info">Préstamos</a>
    </div>
    <div class='row'>
        <table class='table view-data'>
            <tr>
                <td>Código</td>
                <td><%= loan.code %></td>
            </tr>
            <tr>
                <td>Usuario</td>
                <td><a href="/admin/user/<%= loan.user %>"><%= loan.userDescription %></a></td>
            </tr>
            <tr>
                <td>Monto</td>
                <td><%= loan.amount.toFixed(2) %></td>
            </tr>
            <tr>
                <td>Fecha/Hora Creación</td>
                <td><%= loan.created %></td>
            </tr>
            <tr>
                <td>Estado</td>
                <td><%= loan.statusDescription %></td>
            </tr>
        </table>
    </div>

<% if (status && status.payments) { %>
    <h2>Cuotas</h2>
    <div class='row'>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Fecha</th>
                    <th style='text-align: right'>Capital</th>
                    <th style='text-align: right'>Interés</th>
                    <th style='text-align: right'>Total</th>
                    <th style='text-align: right'>Capital Cancelado</th>
                </tr>
            </thead>
            <tbody>
<% status.payments.forEach(function (payment) { %>
                <tr>
                    <td><%= payment.order %></td>
                    <td><%= payment.date %></td>
                    <td style='text-align: right'><%= payment.capital.toFixed(2) %></td>
                    <td style='text-align: right'><%= payment.interest.toFixed(2) %></td>
                    <td style='text-align: right'><%= (payment.capital + payment.interest).toFixed(2) %></td>
                    <td style='text-align: right'><%= payment.canceled.toFixed(2) %></td>
                </tr>
<% }); %>
           </tbody>
        </table>
    </div>
<% } %>

<% include footer %>
