<% var title = 'Usuario' %>
<% include header %>
    <h1>Usuario</h1>
    <div class='row actions'>
        <a href="/admin/user" class="btn btn-info">Usuarios</a>
    </div>
    <div class='row'>
        <table class='table view-data'>
            <tr>
                <td>Código</td>
                <td><%= user.username %></td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td><%= user.firstName %></td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td><%= user.lastName %></td>
            </tr>
            <tr>
                <td>Calificación</td>
                <td><%= user.scoring %> <%= user.scoringDescription %></td>
            </tr>
<% if (typeof userdata !== 'undefined' && userdata.length) { 
    userdata.forEach(function (udata) {
        if (!user[udata.name])
            return;
        %>
            <tr>
                <td><%= udata.title %></td>
                <td><%= user[udata.name] %></td>
            </tr>
<% }) } %>
        </table>
    </div>

    <h2>Calificar</h2>
    <div class='row'>
        <div class='actions col-md-8'>
<% scorings.forEach(function (scoring) { %>
            <a href="/admin/user/<%= user.id %>/scoring/<%= scoring %>" class="btn btn-primary"><%= scoring %></a>
<% }) %>
        </div>
    </div>
    
<% if (loans && loans.length) { %>    
    <h2>Préstamos</h2>
    <div class='row'>
        <table class='table'>
            <thead>
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th style='text-align: right'>Monto</th>
                    <th>Fecha/Hora Creación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
<% loans.forEach(function (loan) { %>
                <tr>
                    <td><a href="/admin/loan/<%= loan.id %>">Ver</a></td>
                    <td><%= loan.code %></td>
                    <td style='text-align: right'><%= loan.amount.toFixed(2) %></td>
                    <td><%= loan.created %></td>
                    <td><%= loan.statusDescription %></td>
                </tr>
<% }); %>
           </tbody>
        </table>
    </div>
<% } %>

<% include footer %>
