<% var title = 'Mi Cuenta' %>
<% include ../header %>
    <h1>Mi Cuenta</h1>
    <div class='row'>
        <div class='actions col-md-8'>
            <a href="/my/loan" class="btn btn-info">Mis Préstamos</a>
            <a href="/my/note" class="btn btn-info">Mis Inversiones</a>
            <a href="/my/movement" class="btn btn-info">Mis Movimientos</a>
        </div>
    </div>
    <div class='row'>
        <table class='table table-striped view-data'>
            <tr>
                <td>Código</td>
                <td><%= user.username %></td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td><%= user.firstName %></td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td><%= user.lastName %></td>
            </tr>
            <tr>
                <td>Calificación</td>
                <td><%= user.scoring %> <%= user.scoringDescription %></td>
            </tr>
        </table>
    </div>
    <h2>Operar</h2>
    <div class='row'>
        <div class='actions col-md-8'>
        <a href="/my/loan/new" class="btn btn-primary">Solicitar Préstamo</a>
        <a href="/my/loan/pay" class="btn btn-primary">Pagar Cuota</a>
        <a href="/my/invest/do" class="btn btn-primary">Invertir</a>
        <a href="/my/deposit/new" class="btn btn-primary">Depositar</a>
        <a href="/my/withdraw/new" class="btn btn-primary">Retirar</a>
        </div>
    </div>

<% include ../footer %>
